{% extends 'user/about.html' %}

{% block buy %}

<a><h3>Xác nhận thông tin mua hàng</h3></a>

<div class="row mb-3">
    <div class="col-6">
        <div class='mb-3'><h6>Danh sách sản phẩm</h6></div>
        <table class="table">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
            </tr>
            {% for item in request.session.cart %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.unitPrice }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.total }}</td>
            </tr>
            {% endfor %}
        </table>
        <h6>Tổng : {{ request.session.cartTotal }}</h6>
    </div>

    <div class="col-6">
        <div class='mb-3'><h6>Thông tin người mua hàng</h6></div>
        <table class="table">
            <tr>
                <td>Họ và tên : </td>
                <td> {{ request.session.paymentInfo.fullname }} </td>
            </tr>
        
            <tr>
                <td>Số điện thoại : </td>
                <td> {{ request.session.paymentInfo.mobile }} </td>
            </tr>

            <tr>
                <td>Email : </td>
                <td> {{ request.session.paymentInfo.email }} </td>
            </tr>
            
            <tr>
                <td>Địa chỉ : </td>
                <td> {{ request.session.paymentInfo.address }} </td>
            </tr>    
        </table>        
    </div>
</div>

<a href='{% url "thankYou" %}'class='btn btn-primary'>Xác nhận</a>

{% endblock %}